build/
.git/
.vscode/
*.log
*~
.DS_Store
data/SIG_experience_center_seg_processed-2.gif
data/SIG_experience_center_seg_processed.gif
data/final_test_compressed_output.gif
data/dance_output.gif
onnxruntime-linux-x64-1.20.1/
results/
*.tmp
*.cache
__pycache__/
*.pyc
